:root {
  --main-color: #757575;
  --main-bg-color: #ffffff;
  --webstudio-header-color: #000000;
  --webstudio-footer-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --hero-title-color: #ffffff;
  --hero-bg-color: rgba(47, 48, 58, 0.4);
  --hero-bg-btn-color: #188ce8;
  --btn-text-color: #ffffff;
  --btn-bg-color: #f5f4fa;
  --feature-title-color: #212121;
  --team-bg-color: #f5f4fa;
  --team-card-color: #ffffff;
  --footer-addr-color: #ffffff;
  --footer-tel-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --logo-color: #afb1b8;
  --join-bg-color: rgba(255, 255, 255, 0.1);
  --modal-color: #ffffff;
  --ico-close-color: #000000;
  --ico-modal-color: #212121;
  --time: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'Roboto', Tahoma, sans-serif;

  /* Основной цвет - цвет абзацев */
  color: var(--main-color);
  /* Основной фон страницы */
  background-color: var(--main-bg-color);
}

/* Утилиты */

/* Убираем точки и паддинги у списков */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Контейнер */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---------------------HEADER--------------------- */

.webstudio-header {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway', Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--webstudio-header-color);

  text-decoration: none;
}

.webstudio-accent {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}
.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 95px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  transition: color var(--time) var(--function);

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-color);

  text-decoration: none;
  position: relative;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .auth-tel + .auth-tel {
  margin-left: 50px;
}

.auth-tel {
  transition: color var(--time) var(--function);

  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: inherit;
  fill: currentColor;
  text-decoration: none;
}

.auth-tel:hover,
.auth-tel:focus {
  color: var(--accent-color);
}

.ico-tel {
  margin-right: 10px;
}

/* ---------------------HERO--------------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;

  background-color: var(--dark-bg-color);
  background-image: linear-gradient(var(--hero-bg-color), var(--hero-bg-color)), url(../images/hero-bg.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-title-color);
}

.hero-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--btn-text-color);
  background-color: var(--hero-bg-btn-color);

  cursor: pointer;
}

/* ---------------------SECTION--------------------- */

.section {
  padding-top: 94px;
}

.section-padding-bottom {
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* ---------------------FEATURE--------------------- */

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-ico {
  background-color: var(--team-bg-color);
  border-radius: 4px;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ---------------------WORK--------------------- */

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list .item {
  width: 370px;
}

.work-list .item + .item {
  margin-left: 30px;
}

.work-thumb {
  position: relative;
}

.work-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-text {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

/* ---------------------TEAM--------------------- */

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .item {
  width: 270px;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item + .item {
  margin-left: 30px;
}

.team {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
  background-color: var(--team-card-color);
}

.team-add {
  padding-bottom: 94px;
  background-color: var(--team-bg-color);
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list .text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  transition: fill var(--time) var(--function), background-color var(--time) var(--function);

  width: 44px;
  height: 44px;
  background-color: var(--team-card-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--logo-color);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--team-card-color);
}

/* ---------------------CLIENTS--------------------- */

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-link {
  transition: border var(--time) var(--function), fill var(--time) var(--function);

  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  padding: 16px 32px;
  fill: var(--logo-color);
}

.client-item + .client-item {
  margin-left: 30px;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* ---------------------FOOTER--------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  background-color: var(--dark-bg-color);
}

.footer-data {
  display: flex;
  justify-content: space-between;
}
.left-middle {
  display: flex;
}

.footer-left {
  width: 231px;
  margin-right: 70px;
}

.webstudio-footer {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--webstudio-footer-color);
  text-decoration: none;
}

.footer-address {
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-addr-color);
}

.footer-tel {
  transition: color var(--time) var(--function);

  margin-top: 9px;

  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-tel-color);

  text-decoration: none;
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-middle {
  margin-top: 12px;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--footer-addr-color);
}

.join-soc-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-soc-item + .join-soc-item {
  margin-left: 10px;
}

.join-soc-link {
  transition: background-color var(--time) var(--function);

  width: 44px;
  height: 44px;
  background-color: var(--join-bg-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--footer-addr-color);
}

.join-soc-link:hover,
.join-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-right {
  margin-top: 12px;
  height: 86px;
}

.mailing-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mailing-form-input {
  width: 358px;
  height: 50px;

  margin: 0 12px 0 0;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--btn-text-color);
  font: inherit;
}

.mayling-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
}

/* ---------------------PORTFOLIO--------------------- */

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-item .btn {
  transition: color var(--time) var(--function), background-color var(--time) var(--function),
    box-shadow var(--time) var(--function);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--btn-bg-color);
  box-shadow: none;
}

.filter-item .btn:hover,
.filter-item .btn:focus,
.filter-item .btn.current {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px 0 rgba(0, 0, 0, 0.1), 0px 1px 2px 0 rgba(0, 0, 0, 0.08), 0px 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;

  margin: 0 0 94px 0;
}

.project-item {
  box-shadow: none;
  transition: box-shadow 250ms var(--function);

  width: calc((100% - 60px) / 3);
  margin: 0;
  border: 1px solid var(--border-color);
}

.project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform var(--time) var(--function);
}

.project-text {
  margin: 0 auto;
  padding: 63px 23px;
  color: var(--main-bg-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.project-data {
  padding: 20px 24px;
}

.project-data-title {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-data-text {
  margin: 4px 0 0 0;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:hover .project-overlay {
  transform: translateY(0);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: opacity var(--time) var(--function), visibility var(--time) var(--function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: var(--modal-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--function);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--ico-close-color);
  background-color: transparent;
  transition: fill var(--time) var(--function);
}

/* .modal-close-btn:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
} */

.modal-close-btn:hover {
  fill: var(--accent-color);
}

.modal-caption {
  margin: 40px 40px 0 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal-form {
  width: 448px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: val(--main-color);
}

.modal-form-input-and-icon {
  position: relative;
}

.modal-form-field input {
  width: 100%;
  margin: 0;
  padding: 12px 12px 12px 42px;

  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font: inherit;
  transition: border-color var(--time) var(--function);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  height: 18px;

  transform: translateY(-50%);
  transition: fill var(--time) var(--function);
}

textarea.modal-form-comment:focus,
input.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  height: 120px;

  font: inherit;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  transition: border-color var(--time) var(--function);
}

.modal-form-field textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  position: relative;
  display: flex;
  align-items: center;

  margin-top: 20px;
}

.agreement-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-icon {
  position: relative;
  width: 16px;
  height: 15px;

  margin-left: 13px;
  margin-right: 7px;

  border: 2px solid var(--title-color);
  border-radius: 2px;

  transition: border-color var(--time) var(--function);
}

.agreement-svg {
  position: absolute;
  top: -3px;
  opacity: 0;
  transition: opacity var(--time) var(--function);
}

.agreement-checkbox:checked + .agreement-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.agreement-checkbox:focus + .agreement-icon {
  box-shadow: 0 0 0 2px var(--modal-color), 0 0 0 3px var(--accent-color);
}

.agreement-checkbox:checked + .agreement-icon > .agreement-svg {
  opacity: 1;
}

.agreement-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.agreement-link {
  color: var(--accent-color);
  outline-color: var(--accent-color);
}

.modal-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  min-width: 200px;
  height: 50px;
  border: 0;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: inline-block;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--btn-text-color);
  background-color: var(--hero-bg-btn-color);

  cursor: pointer;
}

.btn-margin {
  margin-top: 30px;
  margin-left: 123px;
}

.mailing-key {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailing-ico {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;
}

/* .modal-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--modal-color), 0 0 0 3px var(--accent-color);
} */
