.clients-list {
  @extend %list;

  @include createFlex();
}

.client-link {
  transition: border $time $function, fill $time $function;

  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid $logo-color;
  border-radius: 4px;
  padding: 16px 32px;
  fill: $logo-color;
}

.client-item + .client-item {
  margin-left: 30px;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid $accent-color;
  fill: $accent-color;
}
