.feature-list {
  @extend %list;

  @include createFlex(flex, null, null, wrap);
}

.feature-list .item {
  width: 270px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-ico {
  background-color: $team-bg-color;
  border-radius: 4px;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;

  @include createFlex();
}

.feature-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  @include createFont(null, 16px, 1.14, 0.03em);

  text-transform: uppercase;
  color: $title-color;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  @include createFont(null, 14px, 1.71, 0.03em);
}
