.filters {
  @extend %list;

  @include createFlex(flex, center, null, wrap);

  margin-bottom: 50px;

  &__item + &__item {
    margin-left: 8px;
  }

  &__btn {
    appearance: none;
    border: 0;
    padding: 6px 22px;
    border-radius: 4px;
    min-width: 73px;

    font-family: inherit;
    @include createFont(500, 16px, 1.62, 0.03em);

    text-align: center;
    cursor: pointer;
    color: $title-color;
    background-color: $btn-bg-color;
    box-shadow: none;
    &:hover,
    &:focus,
    &.current {
      color: $btn-text-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px 0 rgba(0, 0, 0, 0.1), 0px 1px 2px 0 rgba(0, 0, 0, 0.08), 0px 2px 2px 0 rgba(0, 0, 0, 0.12);
    }
    transition: color $time $function, background-color $time $function, box-shadow $time $function;
  }
}
