.team-list {
  @extend %list;

  @include createFlex(flex, no, no, wrap);
}

.team-list .item {
  width: 270px;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item + .item {
  margin-left: 30px;
}

.team {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
  background-color: $team-card-color;
}

.team-add {
  padding-bottom: 94px;
  background-color: $team-bg-color;
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  @include createFont(500, 16px, 1.19, 0.03em);

  text-align: center;
  color: $title-color;
}

.team-list .text {
  @include createFont(no, 16px, 1.19, 0.03em);

  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.team-soc-list {
  @extend %list;

  @include createFlex();
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  transition: fill $time $function, background-color $time $function;

  width: 44px;
  height: 44px;
  background-color: $team-card-color;
  border-radius: 50%;
  @include createFlex();
  fill: $logo-color;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: $accent-color;
  fill: $team-card-color;
}
