.btn-margin {
  margin-top: 30px;
  margin-left: 123px;
}

.mailing-key {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailing-ico {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;
}

/* .modal-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px $modal-color, 0 0 0 3px $accent-color;
} */
