.section {
  padding-top: 94px;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    @include createFont(null, 36px, 1.17, 0.03em);
    text-align: center;

    color: $title-color;
  }

  &--padding-bottom {
    padding-bottom: 94px;
  }
}
