.webstudio {
  font-family: 'Raleway', Tahoma, sans-serif;
  @include createFont(700, 26px, 1.19, 0.03em);
  text-decoration: none;

  &--header {
    padding-top: 24px;
    padding-bottom: 25px;

    color: $webstudio-header-color;
  }

  &--footer {
    color: $webstudio-footer-color;
  }

  &__span {
    color: $accent-color;
  }
}
