@mixin createFlex($type: flex, $along: center, $cross: center, $wrap: no) {
  display: $type;
  @if $along != no {
    justify-content: $along;
  }
  @if $cross != no {
    align-items: $cross;
  }
  @if $wrap != no {
    flex-wrap: $wrap;
  }
}
