// :root {
$main-color: #757575;
$main-bg-color: #ffffff;
$webstudio-header-color: #000000;
$webstudio-footer-color: #ffffff;
$accent-color: #2196f3;
$title-color: #212121;
$dark-bg-color: #2f303a;
$hero-title-color: #ffffff;
$hero-bg-color: rgba(47, 48, 58, 0.4);
$hero-bg-btn-color: #188ce8;
$btn-text-color: #ffffff;
$btn-bg-color: #f5f4fa;
$feature-title-color: #212121;
$team-bg-color: #f5f4fa;
$team-card-color: #ffffff;
$footer-addr-color: #ffffff;
$footer-tel-color: rgba(255, 255, 255, 0.6);
$border-color: #eeeeee;
$logo-color: #afb1b8;
$join-bg-color: rgba(255, 255, 255, 0.1);
$modal-color: #ffffff;
$ico-close-color: #000000;
$ico-modal-color: #212121;
$time: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);
// }
